//- Pug file for index.html

//- Import layout. This needs to be done for all views
extends ../partials/layout.pug

//- Overriding only the footer for now to include the chat form
block footer
  form#chatForm

    //- Box for entering chat message
    input#chatText(
      type='text'
      autocomplete='off'
      placeholder='Chat'
      name='chatText'
    )

    //- Button for sending message
    input(
      type='submit'
      value='Send'
    )

  //- Button for sharing location
  button#shareLocation Share Location