extends ../partials/layout.pug

block footer
  form#chatForm
    input#chatText(
      type='text'
      autocomplete='off'
      placeholder='Chat'
      name='chatText'
    )
    input(
      type='submit'
      value='Send'
    )